<!-- <button (click)="showNotification()">Show Notification </button> -->
<!-- <div> -->
    <!-- {{userlist|json}} -->
        <!-- Current User : {{currentUser}} -->
    <!-- <ul>
        <li *ngFor="let users of userlist">
            {{users.user}}
        </li>
    </ul>
    <br>
    <br>
    <div>{{result|json}}</div> -->
<!-- </div> -->

<div class="container">
    <!-- <button class="position-absolute btn btn-outline-info" style="z-index: 1; right: 0;" (click)="showlist()">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button> -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div *ngIf="result" class="card chat-app">
                <div id="plist" class="people-list" [style.display]="display" [style.left.px]="left">             
                    <div class="input-group bg-secondary">
                        <div class="row py-2 px-3">
                            <div class="col-4 text-center">
                                <img src="{{result.Image}}" alt="avatar" width="64px">
                            </div>
                            <div class="col-8">
                                <span class="d-block p-1 bg-secondary text-white">
                                    <div class="name font-weight-bold">{{result.User}}</div>
                                    <div class="status font-italic text-warning">Join Date: {{result.Created_at|date}}</div>
                                    <a (click)="authService.SignOut()" class="text-warning">Logout</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0 overflow-auto chat-ul" (click)="showlist()">
                        <li *ngFor="let user of userlist" class="clearfix" id="{{user.User}}" (click)="openchat(user.User, user.Created_at, user.Lastseen, user.Image)">
                            <div *ngIf="user.User">
                                <img src="{{user.Image}}" alt="avatar">
                                <div class="about">
                                    <div class="name">{{user.User}}</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> {{getLastseen(user.Lastseen)}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="selectchat==false" class="chat">
                       <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <strong>Username</strong><br>
                                    <small>Last seen time</small>
                                </div>
                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <!-- <a class="btn mx-1 btn-outline-secondary"><i class="fa fa-camera"></i></a> -->
                                <a class="btn mx-1 btn-outline-primary"><i class="fa fa-image"></i></a>
                                <a class="btn mx-1 btn-outline-info"><i class="fa fa-cogs"></i></a>
                                <a class="btn btn-outline-warning"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history overflow-auto" style="height: 500px;">
                        <ul class="m-b-0">
                            <li class="clearfix">
                                <div>
                                    <div class="text-center">
                                        <span class="message-data-time h3">Selct User to Chat..</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="text" disabled id="message" class="form-control" placeholder="Please select user to chat">
                        </div>
                    </div>
                </div>
                <div *ngIf="selectchat==true" class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a data-toggle="modal" data-target="#view_info">
                                    <img src="{{img}}" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <strong>{{Username}}</strong><br>
                                    <small>Last seen {{getLastseen(Lastseen)}}</small>
                                </div>
                            </div>
                            <div class="col-lg-6 pt-1 hidden-sm text-right">
                                <a class="btn mx-1 btn-outline-info float-left" (click)="showlist()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </a>
                                <label class="btn mx-1 my-0  btn-outline-secondary" for="file-input">
                                    <i class="fa fa-image"></i>
                                    <input type="file" id="file-input" (change)="uploadImage($event)" style="display:none">
                                </label>
                                <!-- <a class="btn mx-1 btn-outline-primary"><i class="fa fa-camera"></i></a> -->
                                <a class="btn mx-1 btn-outline-info"><i class="fa fa-cogs"></i></a>
                                <a class="btn btn-outline-warning" data-toggle="modal" data-target="#staticBackdrop">
                                    <i class="fa fa-trash"></i>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="chat-history overflow-auto" style="height: 500px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <ul class="m-b-0">
                            <li *ngFor="let chat of chatlist" class="clearfix">
                                <div *ngIf="chat.sender != currentUser && chat.message">
                                    <div class="message-data text-right">
                                        <span class="message-data-time">{{chat.Created|date:'shortTime'}}</span>
                                        <img src="{{img}}" alt="avatar">
                                    </div>
                                    <div class="message other-message float-right">
                                        {{chat.message}}
                                    </div>
                                </div>
                                <div *ngIf="chat.sender == currentUser && chat.message">
                                    <div class="message-data">
                                        <span class="message-data-time">{{chat.Created|date:'EEE h:mm a'}}</span>
                                    </div>
                                    <div class="message my-message">
                                        {{chat.message}}
                                    </div>
                                </div>
                                <div *ngIf="chat.sender == currentUser && chat.url">
                                    <div class="message-data">
                                        <span class="message-data-time">{{chat.Created|date:'EEE h:mm a'}}</span>
                                    </div>
                                    <a class="message my-message" target="_blank" href="{{chat.url}}">
                                        <img src="{{chat.url}}" alt="avatar" height="100px">
                                        <i class="fa fa-download pl-2" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div *ngIf="chat.error">
                                    <div class="text-center">
                                        <span class="message-data-time">No Message</span>
                                    </div>
                                </div>

                            </li>
                            <!-- <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">
                                    Are we meeting today?
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:15 AM, Today</span>
                                </div>
                                <div class="message my-message">Project has been already finished and I have results
                                    to show you.</div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend" (click)="sendMessage(message.value)">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="text" id="message" class="form-control" #message placeholder="{{Placeholder}}" (keydown.enter)="sendMessage(message.value)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete All Messages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Do you want to delete this chat?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="deleteChat()" type="button" data-dismiss="modal" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>