<!-- <div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign Up</h3>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #userEmail required />
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPwd required />
            </div>         
          
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Sign Up" id="register"
                    (click)="register(userEmail.value, userPwd.value)" />
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div> -->
           
            <!-- Continue with Google -->
            <!-- <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Continue with Google
                </button>
            </div> -->
        <!-- </div>
        <div class="redirectToLogin">
            <span>Already have an account?
                <span class="redirect" routerLink="/login">Log In</span></span>
        </div>
    </div>
</div> -->


<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
    <div class="loginbox bg-white">
        <div class="loginbox-title">Register</div>
        <!-- <div class="loginbox-social">
            <div class="social-title ">Connect with Your Social Accounts</div>
            <div class="social-buttons">
                <a href="" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="" class="button-twitter">
                    <i class="social-icon fa fa-twitter"></i>
                </a>
                <a href="" class="button-google">
                    <i class="social-icon fa fa-google-plus"></i>
                </a>
            </div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">OR</div>
        </div> -->
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="Email" #userName required>
        </div>
        <div class="loginbox-textbox">
            <input type="password" class="form-control" placeholder="Password" #userPassword required (keydown.enter)="register(userName.value, userPassword.value)">
        </div>
        <!-- <div class="loginbox-forgot">
            <a routerLink="/forgot">Forgot Password?</a>
        </div> -->
        <div class="loginbox-submit">
            <a type="button" class="btn btn-primary btn-block text-light"
                (click)="register(userName.value, userPassword.value)">
                <div *ngIf="Loading == true" class="spinner-border spinner-border-sm text-light mr-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div *ngIf="Loading == false">
                    Register
                </div>
            </a>
        </div>
        <div class="loginbox-signup">
            <a routerLink="/login">Login Here</a>
        </div>
    </div>
    <!-- <div class="logobox">
    </div> -->
</div>